.\32\main_32.build
.\32\main_32.dist
.\32\venv32
.\32\Base
.\32\main_32.onefile-build
32/dist/main_32.exe
dist/ODPDO_32.exe


32/dist/main_32_1.exe
/32/dist
/TEST
/build
/dist
dist/ODPDO.exe
ODPDO.spec
dist/ODPDO.exe
